.promptContainer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 8mm;
    border: 1px solid white;
    width: 75vw;
    padding: 0.75em 1em;
    background-color: black;
    /* -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF; */
    box-shadow: 0px 0px 6px 3px #FFFFFF;

    z-index: 1000;
}

.promptContainer .input {
    width: 100%;
    outline: none;
    resize: none;
    overflow-y: auto;
    line-height: 1.4;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
    border: none;

    /* Minimalistic scrollbar */
    scrollbar-width: thin;
    scrollbar-color: silver transparent;
}

/* WebKit scrollbar styling */
.promptContainer .input::-webkit-scrollbar {
    width: 6px;
}

.promptContainer .input::-webkit-scrollbar-track {
    background: transparent;
}

.promptContainer .input::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 3px;
}

.promptContainer .input::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
